upstream loadbalancer {
	least_conn;
	server localhost:3500;
	server localhost:3501;
	server localhost:3502;
	server localhost:3503;
}

## Uncomment the following section to redirect HTTP requests to HTTPS once
## SSL has been enabled
# server {
# 	server_tokens off;
# 	listen 80;
# 	server_name _;
# 	return 301 https://$host$request_uri;
# }


server {
	server_tokens off;

	## Uncomment the following lines and set the path to your SSL certificate
	## and private key to enable HTTPS
	# listen 443 ssl;
	# ssl_certificate /etc/ssl/certs/sampleshare.crt;
	# ssl_certificate_key /etc/ssl/private/sampleshare.key;

	## Remove or comment the following line to disable unencrypted HTTP
	listen 80;

	index index.html index.htm;

	server_name _;

	proxy_ssl_name $host;
	proxy_redirect off;
	proxy_set_header X-Real-IP $remote_addr;
	proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
	proxy_set_header Host $host;
	proxy_set_header X-NginX-Proxy true;
	add_header Content-Security-Policy "frame-ancestors 'none'";
	add_header Cache-Control no-store always;

	location / {
		root ROOT_PATH;
		try_files $uri $uri/ /index.html =404;
	}

	location /server {
		proxy_pass http://loadbalancer/api/;
	}

	location /api/ {
		proxy_pass http://loadbalancer/api/;
	}
}
